* {
    font-family: 'helvetica neue', 'hiragino sans gb', 'stheiti',
    'microsoft yahei', \5FAE\8F6F\96C5\9ED1, tahoma, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}