.markdown-body {

    info,
    warning,
    success,
    error {
        display: block;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        padding: 16px;
        border-radius: 3px;
        margin-bottom: 16px;

        & > :last-child {
            margin-bottom: 0;
        }
    }

    info {
        background-color: #eaf8fe;
        border: 1px solid #beecfd;
    }

    warning {
        background-color: #fff7e6;
        border: 1px solid #f8dfad;
    }

    success {
        background-color: #f3faf0;
        border: 1px solid #dff4d6;
    }

    error {
        background-color: #ffeee6;
        border: 1px solid #fbd4c0;
    }
}